@keyframes slide-down-fade-in {
    0%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes zoom-in-fade-in {
    form{
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
