*{
    box-sizing: border-box;
    position: relative;
}

header{
    width: 100%;
    height: calc(100vh * .47);
    max-height: 100vh;
}

.video-container{
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.video-container video{

}

section.parallax{
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

section:nth-of-type(1){
    background-image: url("kawasaki-ninja.pnj");
}
section:nth-of-type(3){
    background-image: url("yamaha-motorcycle.jpg");
}
section:nth-of-type(5){
    background-image: url("lamborghini-6.jpg");
}
section:nth-of-type(7){
    background-image: url("ferrari.jpg");
}

section.content{
    min-height: 50vh;
    width: 100%;
    padding: 60px 15px;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.filter{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
}

.title{
    color: #fff;
    position: absolute;
    margin: 0 auto;
    font-size: 80px;
    text-align: center;
    top: 50%;
    transform: translateY(-50px);
    width: 100%;
}

section.parallax h1{
    color: #fff;
    font-size: 80px;
    text-align: center;
}

section.content .container{
    max-width: 900px;
    margin: auto;
    background-color: #eee;
    border-radius: 15px;
    padding: 20px;
}

section.content h2{
    margin-top: 0;
    font-size: 50px;
}

section.content p{
    margin-bottom: : 0;
    font-size: 28px;
}

.icon-block{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.icon-block img{
    width: 150px;
    padding: 30px;
}
